@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #040205;
  background-image: url("https://img.freepik.com/vetores-gratis/zoom-de-velocidade-de-tubulacao-de-luz-azul-abstrato-na-tecnologia-de-fundo-preto_1142-9722.jpg?t=st=1710189533~exp=1710193133~hmac=9f8dd67a1deea606113236fbff28f963602fcc546a4106e58056efc074696c66&w=1380");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}



body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 206);    /* color of the scroll thumb */
  border-radius: 15px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(138, 138, 206);  /* creates padding around scroll thumb */
}
