@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #eeeeee;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}



body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 206);    /* color of the scroll thumb */
  border-radius: 15px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(138, 138, 206);  /* creates padding around scroll thumb */
}
