@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(2, 0, 36);
  background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
